/*{{{element selector*/
body {
    background-color: transparent;
}
        /*}}}element selector*/

/*{{{class selector*/
.fullPage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
} /*fullPage*/
/*}}}class*/

.selectBox {
    position: fixed;
    overflow-x: hidden;
    top: 0px;
    left: 0px;
} /*.selectBox*/

.subframe {
    z-index: 1;
    position: fixed;
    top: 0.1vh;
    left: 0.1vw;
    height: 99.5vh;
    width: 99.5vw;
} /*subframe*/

/*{{{id selector*/

/*}}}id selector*/
