/*{{{element selector*/
body {
    /*background-color: black;*/
}
select {
    overflow: auto;
    color: black;
    font-size: 0.9em;
    background-color: rgba(5,5,5,0.0);
    border: 0px;
    border-radius: 5%;
    transition:  150ms;
} /*select*/
select option {
	display:inline-block;
}
option:hover {
	color: red; 
}
select:focus {
    /*background-color: ivory;*/
    color: white;
    font-size: 0.9em;
    background-color: rgba(45,45,45,0.6);
    opacity: 1.0;
}

/*}}}element selector*/

/*{{{class selector*/

.canvasTap {
    pointer-events:auto;
    background:transparent;
    /*background:black;*/
    /*opacity: 0.3;*/
    border: 4px solid black; 
} /*canvasTap*/

.canvasWB {
    pointer-events:auto;
    background:#051505;
    border: 4px solid black; 
} /*canvasWB*/

.canvasNoTap {
    pointer-events:none;
    background:transparent;
    border: 3px solid yellow; 
} /*canvasNoTap*/

.canvasKeepTap {
    pointer-events:auto;
    background:transparent;
    border: 4px solid red; 
} /*canvasNoTap*/

.fullPage {
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
} /*fullPage*/

.subframe {
    z-index: 1;
    position: fixed;
    top: 0.1vh;
    left: 0.1vw;
    height: 99.5vh;
    width: 99.5vw;
} /*subframe*/

/*}}}class*/

/*{{{id selector*/
#seqSelect {
    z-index: 1;
    position: fixed;
    bottom: 0vh;
    right: 0.3vw;
    height: 3vh;
    width: 6vw;
    font-size: 0.8em;
    opacity: 0.7;
} /*seqSelect*/

#seqSelect:focus {
    /*background-color: ivory;*/
    z-index: 4;
    color: white;
    font-size: 1.0em;
    background-color: rgba(45,45,45,0.6);
    opacity: 1.1;
    height: 5vh;
    width: 15vw;
}

#toolSelect {
    z-index: 1;
    position: fixed;
    bottom: 0vh;
    left: 0.3vw;
    height: 3vh;
    width: 6vw;
    font-size: 0.9em;
    opacity: 0.6;
} /*seqSelect*/

#toolSelect:focus {
    /*background-color: ivory;*/
    z-index: 4;
    color: white;
    font-size: 1.0em;
    background-color: rgba(45,45,45,0.6);
    opacity: 1.0;
    height: 5vh;
    width: 15vw;
}

#mainImg {
    width: 70%;
    height: 80%;
    transition:  150ms;
} /*#mainImg*/

#canvas {
    z-index: 3;
    /*background:transparent;*/
    position: fixed;
    top: 0.1vh;
    left: 0.1vw;
    height: 99.5vh;
    width: 99.5vw;
} /*canvas*/

 
#myBody {

} /*#myBody*/

#backgroundX {

} /*#backgroundX*/

/*}}}id selector*/

/*{{{pentool*/

    /*class*/

    .hiddenTool {
        /*opacity: 0.0;*/
        visibility: hidden;
        /*bottom: -20vh;*/
    } /*hiddenTool*/

    .unhiddenTool {
        /*opacity: 1.0;*/
        visibility: visble;
        /*bottom: 1vh;*/
    } /*unhiddenTool*/

    .stroke-color {
        width: 2vw;
        height: 2vw;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid black;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(-0deg);
        transform: rotate(90deg);
    } /*stroke-color*/

    /*ID*/

    #pentool {
        z-index: 4;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: fixed;
        border-radius: 30%;
        right: -2vw;
        bottom: 10vh;
        height : 5.7vw;
        width : 10.5vw;
        background: #00000044;
    } /*#pentool*/

    #color1{ position: absolute;
        color: white; /*needs to be white because of black BG*/
        top: 2.2vw; left: 0vw;
    } /*color1*/

    #color2{ position: absolute;
        top: 0.7vw; left: 1.3vw;
    } /*color1*/

    #color3{ position: absolute;
        top: 1px; left: 3.2vw;
    } /*color1*/

    #color4{ position: absolute;
        top: 1px; left: 5.2vw;
    } /*color1*/

    #color5{ position: absolute;
        top: 0.7vw; left: 7.1vw;
    } /*color1*/

    #color6{ position: absolute;
        top: 2.2vw; left: 8.4vw;
    } /*color1*/

    #undoButton{ position: absolute;
        color:white;
        background:transparent;
        top: 2.1vw; left: 3.2vw;
    } /*undo*/

    #clearButton{ position: absolute;
        color:white;
        background:transparent;
        top: 2.1vw; left: 5.2vw;
    } /*clear*/

    #slider {
        /*-webkit-appearance: slider-vertical;*/
        position: absolute;
        top: 4.2vw;
        left: 1.0vw;
        width: 8.5vw;
        height: 1.5vw;
    } /*slider*/

/*}}}pentool*/

/*{{{helptool*/
h3 {
    color: yellow;
} /*.h3*/

.hiddenHelp {
    position:fixed;
    visibility: hidden;
    border: 0px;
    z-index: 4;
    height: 80vh;
    width: 40vw;
    left: 30vw;
    bottom: 0vh;
} /*hiddenhelp*/

.unhiddenHelp {
    position:fixed;
    visibility: visible;
    border: 0px;
    z-index: 4;
    height: 80vh;
    width: 40vw;
    left: 30vw;
    bottom: 0vh;
} /*unhiddenHelp*/

#helpdiv {
  /*height: 100%;*/
  position: fixed;
  bottom: 0vh;
  width : 100%;
  background-color: black;
  opacity: 0.8;
} /*.helpdiv*/

.helpkeys {
    width: 3vw;
} /*.helpkeys*/

.helpfuncs {
    width: 12vw;
} /*.helpkeys*/

#helptable {
    width: 100%;
    /*bottom: 0vh;*/
    color: white;
    font-size: 1.2em;
} /*.helpheader*/

/*}}}helptool*/
