/*{{{element selector*/
body {
    /*background-color: black;*/
}
        /*}}}element selector*/

/*{{{class selector*/
.fullPage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
    z-index: 0;
} /*fullPage*/

.selectBox {
    position: fixed;
    overflow-x: hidden;
    top: 2vh;
    left: 50vw;
    z-index:0;
} /*.selectBox*/

.grid3{
    display:grid;
    grid-template-columns: 12vw 80vw 12vw;
    grid-template-rows: 98vh;
    justify-content: center; /*align whole on horiz center*/
    /*align-content: center;*/
    overflow-x: hidden;
    overflow-y: hidden;
    z-index:1;
}/*grid3*/
.grid3-left{
    grid-column: 1;
    grid-row: 1;
}/*grid3-left*/

.grid3-right{
    grid-column: 3;
    grid-row: 1;
}/*grid3-right*/

.grid3-center{
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    z-index:1;
}/*grid3-center*/

.choices {
    position: fixed;
    height: 15vh;
    width: 15vw;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: move;
    transition:  250ms;
    z-index:2;
} /*choicePage*/
.chosen{
    top: 43vh;
    left: 43vw;
} /*chosen*/
.guide{
    font-family: sans-serif;
    color: black;
    opacity: 0.6;
    position: fixed;
    font-size: 1.8em;
}
/*}}}class*/

/*{{{id selector*/
#choice1 { top: 1vh;     left:  1vw; }
#choice2 { top: 1vh;     left:  84vw;}
#choice3 { top: 84vh;    left:  1vw; }
#choice4 { top: 84vh;    left:  84vw;}
#guide1  { top: 16vh;    left:  1vw; display: none;}
#guide2  { top: 16vh;    right: 1vw; display: none;}
#guide3  { bottom: 16vh; left:  1vw; display: none;}
#guide4  { bottom: 16vh; right: 1vw; display: none;}

#mainImg {
    width: 70%;
    height: 80%;
    transition:  150ms;
} /*#mainImg*/
#myBody {

} /*#myBody*/

#backgroundX {

} /*#backgroundX*/



/*}}}id selector*/

/*{{{pentool*/

    /*class*/

    .hiddenTool {
        /*opacity: 0.0;*/
        visibility: hidden;
        /*bottom: -20vh;*/
    } /*hiddenTool*/

    .unhiddenTool {
        /*opacity: 1.0;*/
        visibility: visble;
        /*bottom: 1vh;*/
    } /*unhiddenTool*/

    .stroke-color {
        width: 6vh;
        height: 6vh;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid black;
    } /*stroke-color*/

    /*ID*/

    #pentool {
        z-index: 4;
        position: fixed;
        border-radius: 20%;
        right: 10vw;
        bottom: 15vh;
        height : 24.8vh;
        width : 12.5vh;
        background: #00000044;
    } /*#pentool*/

    #color2{ position: absolute;
        top: 0.1vh; left: 0.1vh;
    } /*color1*/

    #color3{ position: absolute;
        top: 0.1vh; left: 6.2vh;
    } /*color1*/

    #color4{ position: absolute;
        top: 6.2vh; left: 0.1vh;
    } /*color1*/

    #color5{ position: absolute;
        top: 6.2vh; left: 6.2vh;
    } /*color1*/

    #color1{ position: absolute;
        top: 12.3vh; left: 0.1vh;
    } /*color1*/

    #color6{ position: absolute;
        top: 12.3vh; left: 6.2vh;
    } /*color1*/

    #undoButton{ position: absolute;
        pointer-events: auto;
        color:white;
        background:transparent;
        top: 18.8vh; left: 0.1vh;
    } /*undo*/

    #clearButton{ position: absolute;
        pointer-events: auto;
        color:white;
        background:transparent;
        top: 18.8vh; left: 6.2vh;
    } /*clear*/

    #slider {
        /*-webkit-appearance: slider-vertical;*/
        position: absolute;
        top: 4.2vw;
        left: 1.0vw;
        width: 8.5vw;
        height: 1.5vw;
    } /*slider*/

/*}}}pentool*/

/*{{{helptool*/
h3 {
    color: yellow;
} /*.h3*/

.hiddenHelp {
    position:fixed;
    visibility: hidden;
    border: 0px;
    z-index: 4;
    height: 80vh;
    width: 40vw;
    left: 30vw;
    bottom: 0vh;
} /*hiddenhelp*/

.unhiddenHelp {
    position:fixed;
    visibility: visible;
    border: 0px;
    z-index: 4;
    height: 80vh;
    width: 40vw;
    left: 30vw;
    bottom: 0vh;
} /*unhiddenHelp*/

#helpdiv {
  /*height: 100%;*/
  position: fixed;
  bottom: 0vh;
  width : 100%;
  background-color: black;
  opacity: 0.8;
} /*.helpdiv*/

.helpkeys {
    width: 3vw;
} /*.helpkeys*/

.helpfuncs {
    width: 12vw;
} /*.helpkeys*/

#helptable {
    width: 100%;
    /*bottom: 0vh;*/
    color: white;
    font-size: 1.2em;
} /*.helpheader*/

/*}}}helptool*/
